.d-header {
    background: var(--secondary);
}
#main-outlet-wrapper .sidebar-wrapper {
    background-color: var(--secondary);
    border-radius: 8px;
    top: calc(var(--header-offset) + 2em);
    height: calc(100vh - (var(--header-offset) + 60px));
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.18);
}

#main-outlet-wrapper #main-outlet {
    grid-area: content;
}
body.has-sidebar-page #main-outlet {
    max-width: unset;
}
#main-outlet {
    box-sizing: border-box;
    margin: 0 auto;
    background: var(--secondary);
    border-radius: 8px;
    width: 100%;
    max-width: 980px;
    padding: 3em 3em 5%;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.18);
}

body.has-sidebar-page #main-outlet-wrapper {
    padding-left: 8px;
}
body.has-sidebar-page #main-outlet-wrapper {
    grid-template-columns: var(--d-sidebar-width) minmax(0, 1fr);
    gap: 0 var(--d-main-content-gap);
}
#main-outlet-wrapper {
    margin-top: 2em;
}
#main-outlet-wrapper {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-areas:
        "sidebar content      "
        "sidebar below-content";
    grid-template-rows: 1fr auto;
    grid-template-columns: 0 minmax(0, 1fr);
    gap: 0;
}
body.has-sidebar-page .wrap {
    max-width: calc(var(--d-sidebar-width) + var(--d-max-width));
}
.wrap {
    max-width: var(--d-max-width);
    margin-right: auto;
    margin-left: auto;
    padding: 0 var(--d-wrap-padding-x);
}
